body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #0D000C;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
#logo {
    color: #F4F3F4;
    fill: #F4F3F4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#logo h1 {
    font-size: 2rem;
    margin: .5rem 0;
    font-weight: 900;
}
#logo svg {
    transform: scale(0.35);
    height: 4rem;
    width: 100px;
    margin: 0px -33px;
}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar .search-icon {
    font-size: 1.2rem;
    color: #D8BB59;
    padding: 0.69rem;
    background: #F4F3F4;
    border: none;
    outline: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.search-bar .search-icon svg {
    fill: #F4F3F4;
}
.search-bar input {
    font-size: 1.2rem;
    padding: 0.6rem;
    border: none;
    font-weight: bold;
    outline: none;
    border-radius: 0px;
    background: #F4F3F4;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.main-app {
    max-width: 500px;
    width: calc(100vw - 1rem);
    height: calc(100vh - 64px - 38px - 110px - 50px);
    margin: 25px auto 25px auto;
}
.spinner {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
    .file {
        padding: 1rem 0rem 1rem 0rem !important;
    }
}
.file {
    color: #F4F3F4;
    max-width: 100%;
    padding: 1rem 1rem 1rem 0rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.file:hover {
    color: #D8BB59;
}
.file .text-description {
    width: 80%;
    overflow: hidden;
}
.file .description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.file .title {
    font-size: 1rem;
    text-transform: uppercase;
    height: 1.1rem;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    right: 0px;
    transition: right 0s linear;
    font-weight: 500;
}
.file:hover .title {
    transition: right 10s linear;
}
.file .sub-line {
    width: 8000px;
}
.file .album {
    font-size: 0.8rem;
    font-weight: 300;
}
.file .separator {
    font-size: 3px;
    position: relative;
    bottom: 3px;
}
.file .artist {
    font-size: 0.8rem;
    font-weight: 300;
}
.active .file {
    color: #D8BB59 !important;
}
.file_list {
    width: calc(100% - 15px);
    overflow: hidden;
}
@media (max-width: 500px) {
    .fileIcon {
        display: none;
    }
}
.fileIcon {
    float: left;
    font-size: 1em;
    visibility: hidden;
}
.active .file .fileIcon {
    visibility: visible !important;
}
.file .dirIcon {
    visibility: visible !important;
}
#player {
    width: 100%;
    background: #D8BB59;
    max-width: 600px;
    margin: 0 auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: 1s ease;
    position: relative;
    top: 120px;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}
#player.active {
    top: 0 !important;
}
.controls {
    display: flex;
    align-items: center;
    height: 3rem;
    width: calc(100% - 2rem);
    max-width: calc(450px + 2rem);
}
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #D8BB59;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
.modeToggle {
    display: none;
}
.pauseplay, .repeat {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.repeat {
	width: 2rem;
}
.on {
	color: black;
}
.navigation {
    display: flex;
}
.lines {
    width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	margin-left: 1rem;
}
.time {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 1rem;
}
.timeline {
	height: 0px;
	display: inline-block;
	/*transition: 1s linear;*/
	position: absolute;
	top: calc(50% - 2px);
	z-index: 2;
    width: 0;
}
.cursor {
    float: right;
    background: #D8BB59;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    position: relative;
    left: 0.5rem;
    bottom: calc(0.2rem + 3px);
    border: 2px solid white;
    box-sizing: border-box;
}
.placeholderline {
	background: white;
    width: 100%;
    height: 4px;
    position: absolute;
	top: calc(50% - 2px);
    z-index: 1;
}

/* perfect scrollbar css override */
.ps-scrollbar-y-rail {
    background: transparent !important;
}
.informations {
    width: calc(100% - 2rem);
    max-width: 450px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px 0px 5px 0px;
    overflow: hidden;
}
.informations .title {
    font-size: 1.1rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.6rem;
    width: 8000px;
}
.informations .stats {
    font-weight: 300;
}
.duration {
    font-weight: 900;
}
