#player {
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 960px;
    z-index: 20;
    background: linear-gradient(180deg, white, #e6e6e6);
    box-shadow: 0px 0px 3px #999;
    padding: 0px;
}
.lines {
    flex-grow: 2;
    position: relative;
    bottom: 4px;
    margin-right: 30px;
}
.line {
    height: 7px;
    position: relative;
    margin: 0px 10px;
    top: 2px;
    left: 0px;
    transition: all 1s linear;
    border-radius: 15px;
    position: absolute;
}
.placeholderline {
    z-index: 30;
    background-color: lightgrey;
    width: 100%;
}
.loadline {
    z-index: 40;
	background-color: darkgrey;
}
.timeline {
    background-color: grey;
	z-index: 50;
}
.cursor {
    width: 15px;
    height: 15px;
    background: grey;
    border-radius: 100%;
    float: right;
    position: relative;
    bottom: 4px;
    box-shadow: 0px 0px 2px whitesmoke;
}
.navigation {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 0px;
    color: #444;
    margin: 0px 10px 0px 15px;
}
.not-active {
	pointer-events: none;
	cursor: default;
	color: grey;
}
.prev, .pauseplay, .next {
	cursor: pointer;
}
.loading {
	position: fixed;
	top: calc(50% - 36px);
	left: calc(50% - 36px);
	z-index: 30;
	color: rgba(0, 0, 0, 0.43);
	font-size: 50px;
}
.hidden {
	display: none !important;
}
.time {
    font-size: 12px;
    color: #444;
    margin-right: 10px;
    position: relative;
    top: 2px;
}
