.results table {
    width: 100%;
}
.results tr {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    display: block;
    box-shadow: 0px 0px 1px #ffffff;
    padding: 1px 15px;
}
.results tr.active {
    background: rgba(0, 0, 0, 0.85) !important;
}
.results {
    position: relative;
    top: 35px;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}
