#search-bar {
	position: fixed;
	width: 100%;
	max-width: 1024px;
	top: 0px;
	left: 50%;
	transform: translate(-50%,0%);
	z-index: 10;
	display: flex;
	border-bottom: 1px solid black;
}
.search {
	background: whitesmoke;
	width: 100%;
	font-size: 20px;
	height: 41px;
	padding: 4px 4px 4px 14px;
	border: none;
	border-radius: 0px;
}
.submit {
	font-size: 26px;
	padding: 7px 14px;
	background-color: lightgrey;
	cursor: pointer;
}
